<h2>{{addOrEdit()}} Inventory</h2>
<label [style.visibility]="entry.id != 0 ? 'visible' : 'hidden'">ID:
  <span>{{entry.id}}</span>
</label>
<label>Price:
  <input [(ngModel)]="entry.price" [attr.size]="6">
</label>
<label>Condition: 
  <select [(ngModel)]="entry.cond">
      <option *ngFor="let cond of conditions" 
        [value]="cond.id" 
        [attr.selected]="entry.cond==cond.id ? true : null">
        {{cond.val}}
      </option>
  </select>
</label>
<div class="cbox-container">
  <label class="cbox">In Deck
    <input [(ngModel)]="entry.indeck" type="checkbox" />
  </label>
  <label class="cbox-right">Foil
    <input [(ngModel)]="entry.isfoil" type="checkbox" />
  </label>
</div>
<div class="cbox-container buttons">
  <input class="cbox" type=button value="{{addOrEdit()}}" (click)="doAddOrEdit()">
  <input class="cbox-right" type=button value="Cancel" (click)="doCancel()">
</div>
